@import url("https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans+Condensed:wght@100&family=Shadows+Into+Light&display=swap");
.forms-footer, #pie, form {
  background-color: rgba(216, 112, 147, 0.822);
  color: white; }

.card {
  background-color: pink;
  border: solid #d6a2e3 0.5px;
  width: 18rem;
  margin: 20px;
  text-align: center;
  color: #bf307d; }

#pie {
  background-color: #6d3d52;
  color: #f5e1e3;
  padding: 20px;
  padding-bottom: 10px; }
  #pie a {
    text-decoration: none;
    color: white; }
    #pie a a:hover {
      color: #f28aa5; }
  #pie .copyright {
    color: #525250;
    font-size: 18px;
    font-family: "Shadows Into Light"; }

.forms-footer, #pie, form {
  background-color: rgba(216, 112, 147, 0.822);
  color: white; }

.card {
  background-color: pink;
  border: solid #d6a2e3 0.5px;
  width: 18rem;
  margin: 20px;
  text-align: center;
  color: #bf307d; }

form {
  background-color: fondo;
  padding: 10px 40px;
  border-radius: 20px; }

.container_form {
  margin: 50px 100px; }

.cover {
  visibility: hidden; }

.ofertas {
  text-align: center;
  margin: 30px; }
  .ofertas #agotado:hover .cover {
    background: red;
    visibility: visible; }

.carousel-inner {
  max-height: 48rem;
  display: flex; }

.send-btn {
  display: flex;
  justify-content: center;
  width: 100%; }

.btn {
  background-color: #d6a2e3;
  border-color: #89678f; }

.container-buttons {
  align-items: center; }

#navbarSupportedContent a:hover {
  color: white;
  background-color: #f28aa5;
  border-radius: 10px; }

#menu a {
  font-size: 20px;
  color: #d17386; }

.nav__bg {
  background-color: bisque; }

.brand_title {
  margin-right: 100px;
  margin-left: 30px; }

.bg_title {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 30px; }

.descrip {
  font-weight: bold;
  font-family: "Fira Sans Condensed" bold; }

.logo-nav-container {
  display: flex;
  justify-content: space-between; }

.logo-brand {
  display: flexbox;
  justify-content: space-between;
  padding: 20px;
  color: black;
  letter-spacing: 3px; }

.redes a {
  color: #f2b7f2;
  background-color: #f2b7f2;
  padding: 5px;
  border-radius: 50%;
  margin: 0px 5px 10px; }
  .redes a:hover {
    background-color: bisque; }

.card {
  background-color: pink;
  border: solid #d6a2e3 0.5px;
  width: 18rem;
  margin: 20px;
  text-align: center;
  color: #bf307d; }

.forms-footer, #pie, form {
  background-color: rgba(216, 112, 147, 0.822);
  color: white; }

body {
  font-family: Ubuntu, sans-serif;
  overflow-x: hidden;
  background: url(../img/fondo.jpg);
  text-align: center;
  cursor: url(../img/rose_98493.png), auto; }

a {
  cursor: url(https://img.icons8.com/dusk/38/000000/hand-cursor.png), auto; }

h1 {
  margin: 0px; }

h2 {
  margin: 20px;
  color: #58174b; }

h3 {
  color: purple; }

h4 {
  color: #f264ab;
  margin-top: 100px; }

@media (min-width: 768px) {
  .grid-padre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin: 20px 60px; } }

@media (min-width: 1024px) {
  .grid-padre {
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 60px; } }

.ofertas:hover .cover {
  background-color: #f264ab;
  visibility: visible; }
  .ofertas:hover .cover p {
    color: beige;
    padding-top: 10px; }

.contenedor__item {
  position: relative;
  margin-bottom: 20px; }

.contenedor__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0; }

.contenedor__img {
  width: 100%; }

.contenedor_full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px; }

.img_loc {
  width: 60%;
  margin: 20px;
  border-radius: 20%;
  border: #f264ab86 solid 8px;
  box-shadow: 0 0 5px rgba(128, 0, 128, 0.719), 0 0 5px rgba(128, 0, 128, 0.719), 0 0 5px rgba(128, 0, 128, 0.719), 0 0 5px rgba(128, 0, 128, 0.719); }

.gradient-text {
  color: white;
  text-shadow: 0 0 5px purple, 0 0 5px purple, 0 0 5px purple, 0 0 5px purple; }

.gradient-shadow:hover {
  box-shadow: 0 0 5px #f264ab, 0 0 5px #f264ab, 0 0 5px #f264ab, 0 0 5px #f264ab;
  transform: scale(1.1); }

.text-p {
  font-family: "acme"; }

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.video-box {
  width: 100%;
  max-width: 720px;
  height: auto;
  margin: 10px auto 0; }

.video {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  margin-left: 10px;
  padding-right: 10px; }

.video video {
  width: 100%;
  height: auto; }

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
