@import "partials/footer";
@import "partials/form";
@import "sass2/buttons";
@import "sass2/header";
@import "sass2/map";
@import "sass2/mixin";
@import "variables/variables";
@import "sass2/extend";


body {
    font-family: Ubuntu, sans-serif;
    overflow-x: hidden;
    background-color: #fff6ed;
    text-align: center;    
}

h2 {
    margin: 20px;
    color: $color_title;
}

h4{
    color: $color_subs;
    margin-top: 100px;
}

.intro {
    text-align: center;
    width: 30rem;
    margin: auto;
}

@media (min-width: 768px) {
    .grid-padre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (min-width:1024px) {
    .grid-padre {
        grid-template-columns: repeat(4, 1fr);
    }
}
 
.contenedor__item{
    position: relative;
    margin-bottom: 20px;
}

.contenedor__item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    
}

.contenedor__img{
    width:100%;
}

.contenedor_full{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}