@import "../sass2/extend";
@import "../variables/variables";
@import "../sass2/mixin";


#pie {
    @extend .forms-footer;
    background-color: #6d3d52;
    color: #f5e1e3;
    padding: 20px;
    padding-bottom: 10px;

    a {
        text-decoration: none;
        color: white;

        a:hover {
            color: #f28aa5;
        }
    }
    .copyright{
        color: #cdcdcb;
        font-size: 18px;
        font-family: "Shadows Into Light";
    }
}
