@import "../sass2/extend";
@import "../variables/variables";
@import "../sass2/mixin";


form {
    @extend .forms-footer;
    background-color: fondo;
    padding: 10px 40px;
    border-radius: 20px;
    
}

.container_form{
    margin: 50px 100px;       
}
