header {
    background-color: bisque;
}

#navbarSupportedContent a:hover {
    color: white;
    background-color: #f28aa5;
    border-radius: 10px;
}

#menu a {
    font-size: 20px;        
    color: #d17386;
}


