@import "../variables/variables";

$rrss: (
    color: #f2b7f2,
    fsize: fsize,
    fondo: #89678f,
);

.redes a{    
    color: map-get($rrss, color);
    background-color: #f2b7f2;
    padding: 5px;
    border-radius: 50%;
    margin: 0px 5px 10px;
    &:hover{
        background-color: bisque;
    }
}

